<div class="demo-type-example">
  <h2>
				<detail>
					o que é
				</detail> o musiverse?</h2>
</div>
<br/>


<div class=row>
  <div class="col-sm-12">
    <p>
      Já escutou uma música tão boa que não conseguiu tirar ela do repeat? Depois ficou querendo mais músicas naquela vibe e não conseguiu achar? Nós acreditamos que sim! Musiverse, para uma determinada música, te recomenda canções com
      <detail><i>características técnicas*</i>
      </detail>
      iguais e
      <detail><i>metadados distintos**</i>
      </detail>.
      <br/>
      <br/> Ou seja, se você gosta do Rei da Cacimbinha
      <detail><b>musiverse</b>
        </details> vai te recomendar o mais parecido disso na China, no ano que sua mãe nasceu, por exemplo.

        <br/>
        <br/>
        <div class="little">
          * Batida, ritmo, tempo, frequência, timbre, etc.
          <br/> ** Localização do artista, nome do artista, ano, etc.
        </div>
        <br/>
        <br/>
    </p>
  </div>
</div>

<hr>

<div class="demo-type-example">
  <h2>
				<detail>
					quem
				</detail> somos nós?</h2>
</div>
<br/>

<div class="row">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="flat/img/joao.jpg" alt="...">
      <div class="caption">
        <h6>João Paulo</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="flat/img/nailson.jpg" alt="...">
      <div class="caption">
        <h6>Nailson Boaz</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="flat/img/ricardo.jpg" alt="...">
      <div class="caption">
        <h6>Ricardo Araújo</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="flat/img/talita.jpg" alt="...">
      <div class="caption">
        <h6>Talita Lôbo</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="flat/img/victor.jpg" alt="...">
      <div class="caption">
        <h6>Victor Almeida</h6>
      </div>
    </div>
  </div>
</div>
<br/>
<div class=row>
  <div class="col-sm-12">
    <p>
      Musiverse é composto por estudantes de Universidade Federal de Campina Grande durante o terceiro Hackathon (maio de 2015) promovido pelo <a href="https://www.facebook.com/analytics.ufcg?fref=ts">Laboratório Analytics</a>.
      <br/>
      <br/>


    </p>

    <img src="flat/img/an1.jpg" />
    <br/>
    <br/>
    <img src="flat/img/an2.jpg" />
  </div>
</div>

<br/>
<br/>
<br/>
</div>